{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://www.cbioportal.org/api"
        },
        {
            "url": "https://www.cbioportal.org/api"
        }
    ],
    "info": {
        "description": "A web service for supplying JSON formatted data to cBioPortal clients. Please note that this API is currently in beta and subject to change.",
        "version": "1.0 (beta)",
        "title": "cBioPortal web API [Beta]",
        "contact": {
            "name": "cBioPortal",
            "url": "http://www.cbioportal.org",
            "email": "cbioportal@googlegroups.com"
        },
        "license": {
            "name": "License",
            "url": "https://github.com/cBioPortal/cbioportal/blob/master/LICENSE"
        }
    },
    "tags": [
        {
            "name": "Cancer Types",
            "description": " "
        },
        {
            "name": "Clinical Attributes",
            "description": " "
        },
        {
            "name": "Clinical Data",
            "description": " "
        },
        {
            "name": "Clinical Events",
            "description": " "
        },
        {
            "name": "Copy Number Segments",
            "description": " "
        },
        {
            "name": "Discrete Copy Number Alterations",
            "description": " "
        },
        {
            "name": "Gene Panels",
            "description": " "
        },
        {
            "name": "Genes",
            "description": " "
        },
        {
            "name": "Molecular Data",
            "description": " "
        },
        {
            "name": "Molecular Profiles",
            "description": " "
        },
        {
            "name": "Mutations",
            "description": " "
        },
        {
            "name": "Patients",
            "description": " "
        },
        {
            "name": "Sample Lists",
            "description": " "
        },
        {
            "name": "Samples",
            "description": " "
        },
        {
            "name": "Studies",
            "description": " "
        }
    ],
    "paths": {
        "/cancer-types": {
            "get": {
                "tags": [
                    "Cancer Types"
                ],
                "summary": "Get all cancer types",
                "operationId": "getAllCancerTypesUsingGET",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page size of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 10000000,
                            "exclusiveMinimum": false,
                            "exclusiveMaximum": false,
                            "default": 10000000
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page number of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0,
                            "exclusiveMinimum": false,
                            "default": 0
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Name of the property that the result list is sorted by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "cancerTypeId",
                                "name",
                                "clinicalTrialKeywords",
                                "dedicatedColor",
                                "shortName",
                                "parent"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Direction of the sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "default": "ASC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "cancerTypeId"
                                        ],
                                        "properties": {
                                            "cancerTypeId": {
                                                "type": "string"
                                            },
                                            "clinicalTrialKeywords": {
                                                "type": "string"
                                            },
                                            "dedicatedColor": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "parent": {
                                                "type": "string"
                                            },
                                            "shortName": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "TypeOfCancer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cancer-types/{cancerTypeId}": {
            "get": {
                "tags": [
                    "Cancer Types"
                ],
                "summary": "Get a cancer type",
                "operationId": "getCancerTypeUsingGET",
                "parameters": [
                    {
                        "name": "cancerTypeId",
                        "in": "path",
                        "description": "Cancer Type ID e.g. acc",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "cancerTypeId"
                                    ],
                                    "properties": {
                                        "cancerTypeId": {
                                            "type": "string"
                                        },
                                        "clinicalTrialKeywords": {
                                            "type": "string"
                                        },
                                        "dedicatedColor": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "parent": {
                                            "type": "string"
                                        },
                                        "shortName": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "TypeOfCancer"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clinical-attributes": {
            "get": {
                "tags": [
                    "Clinical Attributes"
                ],
                "summary": "Get all clinical attributes",
                "operationId": "getAllClinicalAttributesUsingGET",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page size of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 10000000,
                            "exclusiveMinimum": false,
                            "exclusiveMaximum": false,
                            "default": 10000000
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page number of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0,
                            "exclusiveMinimum": false,
                            "default": 0
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Name of the property that the result list is sorted by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "clinicalAttributeId",
                                "displayName",
                                "description",
                                "datatype",
                                "patientAttribute",
                                "priority",
                                "studyId"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Direction of the sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "default": "ASC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "clinicalAttributeId",
                                            "displayName",
                                            "patientAttribute",
                                            "studyId"
                                        ],
                                        "properties": {
                                            "clinicalAttributeId": {
                                                "type": "string"
                                            },
                                            "datatype": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "patientAttribute": {
                                                "type": "boolean"
                                            },
                                            "priority": {
                                                "type": "string"
                                            },
                                            "studyId": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "ClinicalAttribute"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/clinical-attributes/counts/fetch": {
            "post": {
                "tags": [
                    "Clinical Attributes"
                ],
                "summary": "Get counts for clinical attributes according to their data availability for selected samples/patients",
                "operationId": "getClinicalAttributeCountsUsingPOST",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "clinicalAttributeId": {
                                                "type": "string"
                                            },
                                            "count": {
                                                "type": "integer",
                                                "format": "int32"
                                            }
                                        },
                                        "title": "ClinicalAttributeCount"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sampleIdentifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "sampleId": {
                                                    "type": "string"
                                                },
                                                "studyId": {
                                                    "type": "string"
                                                }
                                            },
                                            "title": "SampleIdentifier"
                                        }
                                    },
                                    "sampleListId": {
                                        "type": "string"
                                    }
                                },
                                "title": "ClinicalAttributeCountFilter"
                            }
                        }
                    },
                    "description": "List of SampleIdentifiers or Sample List ID",
                    "required": true
                }
            }
        },
        "/clinical-attributes/fetch": {
            "post": {
                "tags": [
                    "Clinical Attributes"
                ],
                "summary": "Fetch clinical attributes",
                "operationId": "fetchClinicalAttributesUsingPOST",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "clinicalAttributeId",
                                            "displayName",
                                            "patientAttribute",
                                            "studyId"
                                        ],
                                        "properties": {
                                            "clinicalAttributeId": {
                                                "type": "string"
                                            },
                                            "datatype": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "patientAttribute": {
                                                "type": "boolean"
                                            },
                                            "priority": {
                                                "type": "string"
                                            },
                                            "studyId": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "ClinicalAttribute"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "description": "List of Study IDs",
                    "required": true
                }
            }
        },
        "/clinical-data/fetch": {
            "post": {
                "tags": [
                    "Clinical Data"
                ],
                "summary": "Fetch clinical data by patient IDs or sample IDs (all studies)",
                "operationId": "fetchClinicalDataUsingPOST",
                "parameters": [
                    {
                        "name": "clinicalDataType",
                        "in": "query",
                        "description": "Type of the clinical data",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SAMPLE",
                                "PATIENT"
                            ],
                            "default": "SAMPLE"
                        }
                    },
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "clinicalAttributeId",
                                            "patientId",
                                            "studyId"
                                        ],
                                        "properties": {
                                            "clinicalAttribute": {
                                                "type": "object",
                                                "required": [
                                                    "clinicalAttributeId",
                                                    "displayName",
                                                    "patientAttribute",
                                                    "studyId"
                                                ],
                                                "properties": {
                                                    "clinicalAttributeId": {
                                                        "type": "string"
                                                    },
                                                    "datatype": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "patientAttribute": {
                                                        "type": "boolean"
                                                    },
                                                    "priority": {
                                                        "type": "string"
                                                    },
                                                    "studyId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "title": "ClinicalAttribute"
                                            },
                                            "clinicalAttributeId": {
                                                "type": "string"
                                            },
                                            "patientId": {
                                                "type": "string"
                                            },
                                            "sampleId": {
                                                "type": "string"
                                            },
                                            "studyId": {
                                                "type": "string"
                                            },
                                            "uniquePatientKey": {
                                                "type": "string"
                                            },
                                            "uniqueSampleKey": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "ClinicalData"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "attributeIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "identifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "entityId": {
                                                    "type": "string"
                                                },
                                                "studyId": {
                                                    "type": "string"
                                                }
                                            },
                                            "title": "ClinicalDataIdentifier"
                                        }
                                    }
                                },
                                "title": "ClinicalDataMultiStudyFilter"
                            }
                        }
                    },
                    "description": "List of patient or sample identifiers and attribute IDs",
                    "required": true
                }
            }
        },
        "/copy-number-segments/fetch": {
            "post": {
                "tags": [
                    "Copy Number Segments"
                ],
                "summary": "Fetch copy number segments by sample ID",
                "operationId": "fetchCopyNumberSegmentsUsingPOST",
                "parameters": [
                    {
                        "name": "chromosome",
                        "in": "query",
                        "description": "Chromosome",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "chromosome",
                                            "end",
                                            "numberOfProbes",
                                            "patientId",
                                            "sampleId",
                                            "segmentMean",
                                            "start",
                                            "studyId"
                                        ],
                                        "properties": {
                                            "chromosome": {
                                                "type": "string"
                                            },
                                            "end": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "numberOfProbes": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "patientId": {
                                                "type": "string"
                                            },
                                            "sampleId": {
                                                "type": "string"
                                            },
                                            "segmentMean": {
                                                "type": "number"
                                            },
                                            "start": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "studyId": {
                                                "type": "string"
                                            },
                                            "uniquePatientKey": {
                                                "type": "string"
                                            },
                                            "uniqueSampleKey": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "CopyNumberSeg"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "sampleId": {
                                            "type": "string"
                                        },
                                        "studyId": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "SampleIdentifier"
                                }
                            }
                        }
                    },
                    "description": "List of sample identifiers",
                    "required": true
                }
            }
        },
        "/gene-panel-data/fetch": {
            "post": {
                "tags": [
                    "Gene Panels"
                ],
                "summary": "Fetch gene panel data",
                "operationId": "fetchGenePanelDataInMultipleMolecularProfilesUsingPOST",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "molecularProfileId",
                                            "patientId",
                                            "profiled",
                                            "sampleId",
                                            "studyId"
                                        ],
                                        "properties": {
                                            "genePanelId": {
                                                "type": "string"
                                            },
                                            "molecularProfileId": {
                                                "type": "string"
                                            },
                                            "patientId": {
                                                "type": "string"
                                            },
                                            "profiled": {
                                                "type": "boolean"
                                            },
                                            "sampleId": {
                                                "type": "string"
                                            },
                                            "studyId": {
                                                "type": "string"
                                            },
                                            "uniquePatientKey": {
                                                "type": "string"
                                            },
                                            "uniqueSampleKey": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "GenePanelData"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "sampleMolecularIdentifiers"
                                ],
                                "properties": {
                                    "sampleMolecularIdentifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "molecularProfileId": {
                                                    "type": "string"
                                                },
                                                "sampleId": {
                                                    "type": "string"
                                                }
                                            },
                                            "title": "SampleMolecularIdentifier"
                                        }
                                    }
                                },
                                "title": "GenePanelMultipleStudyFilter"
                            }
                        }
                    },
                    "description": "List of Molecular Profile ID and Sample ID pairs",
                    "required": true
                }
            }
        },
        "/gene-panels": {
            "get": {
                "tags": [
                    "Gene Panels"
                ],
                "summary": "Get all gene panels",
                "operationId": "getAllGenePanelsUsingGET",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page size of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 10000000,
                            "exclusiveMinimum": false,
                            "exclusiveMaximum": false,
                            "default": 10000000
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page number of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0,
                            "exclusiveMinimum": false,
                            "default": 0
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Name of the property that the result list is sorted by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "genePanelId",
                                "description"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Direction of the sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "default": "ASC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "genePanelId"
                                        ],
                                        "properties": {
                                            "description": {
                                                "type": "string"
                                            },
                                            "genePanelId": {
                                                "type": "string"
                                            },
                                            "genes": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "required": [
                                                        "entrezGeneId",
                                                        "hugoGeneSymbol"
                                                    ],
                                                    "properties": {
                                                        "entrezGeneId": {
                                                            "type": "integer",
                                                            "format": "int32"
                                                        },
                                                        "hugoGeneSymbol": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "title": "GenePanelToGene"
                                                }
                                            }
                                        },
                                        "title": "GenePanel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gene-panels/fetch": {
            "post": {
                "tags": [
                    "Gene Panels"
                ],
                "summary": "Get gene panel",
                "operationId": "fetchGenePanelsUsingPOST",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "genePanelId"
                                        ],
                                        "properties": {
                                            "description": {
                                                "type": "string"
                                            },
                                            "genePanelId": {
                                                "type": "string"
                                            },
                                            "genes": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "required": [
                                                        "entrezGeneId",
                                                        "hugoGeneSymbol"
                                                    ],
                                                    "properties": {
                                                        "entrezGeneId": {
                                                            "type": "integer",
                                                            "format": "int32"
                                                        },
                                                        "hugoGeneSymbol": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "title": "GenePanelToGene"
                                                }
                                            }
                                        },
                                        "title": "GenePanel"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "description": "List of Gene Panel IDs",
                    "required": true
                }
            }
        },
        "/gene-panels/{genePanelId}": {
            "get": {
                "tags": [
                    "Gene Panels"
                ],
                "summary": "Get gene panel",
                "operationId": "getGenePanelUsingGET",
                "parameters": [
                    {
                        "name": "genePanelId",
                        "in": "path",
                        "description": "Gene Panel ID e.g. NSCLC_UNITO_2016_PANEL",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "genePanelId"
                                    ],
                                    "properties": {
                                        "description": {
                                            "type": "string"
                                        },
                                        "genePanelId": {
                                            "type": "string"
                                        },
                                        "genes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "required": [
                                                    "entrezGeneId",
                                                    "hugoGeneSymbol"
                                                ],
                                                "properties": {
                                                    "entrezGeneId": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "hugoGeneSymbol": {
                                                        "type": "string"
                                                    }
                                                },
                                                "title": "GenePanelToGene"
                                            }
                                        }
                                    },
                                    "title": "GenePanel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/genes": {
            "get": {
                "tags": [
                    "Genes"
                ],
                "summary": "Get all genes",
                "operationId": "getAllGenesUsingGET",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Search keyword that applies to hugo gene symbol of the genes",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alias",
                        "in": "query",
                        "description": "Alias of the gene",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page size of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 100000,
                            "exclusiveMinimum": false,
                            "exclusiveMaximum": false,
                            "default": 100000
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page number of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0,
                            "exclusiveMinimum": false,
                            "default": 0
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Name of the property that the result list is sorted by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "entrezGeneId",
                                "hugoGeneSymbol",
                                "type",
                                "cytoband",
                                "length"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Direction of the sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "default": "ASC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "entrezGeneId",
                                            "hugoGeneSymbol"
                                        ],
                                        "properties": {
                                            "chromosome": {
                                                "type": "string"
                                            },
                                            "cytoband": {
                                                "type": "string"
                                            },
                                            "entrezGeneId": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "hugoGeneSymbol": {
                                                "type": "string"
                                            },
                                            "length": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "Gene"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/genes/fetch": {
            "post": {
                "tags": [
                    "Genes"
                ],
                "summary": "Fetch genes by ID",
                "operationId": "fetchGenesUsingPOST",
                "parameters": [
                    {
                        "name": "geneIdType",
                        "in": "query",
                        "description": "Type of gene ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ENTREZ_GENE_ID",
                                "HUGO_GENE_SYMBOL"
                            ],
                            "default": "ENTREZ_GENE_ID"
                        }
                    },
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "entrezGeneId",
                                            "hugoGeneSymbol"
                                        ],
                                        "properties": {
                                            "chromosome": {
                                                "type": "string"
                                            },
                                            "cytoband": {
                                                "type": "string"
                                            },
                                            "entrezGeneId": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "hugoGeneSymbol": {
                                                "type": "string"
                                            },
                                            "length": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "Gene"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "description": "List of Entrez Gene IDs or Hugo Gene Symbols",
                    "required": true
                }
            }
        },
        "/genes/{geneId}": {
            "get": {
                "tags": [
                    "Genes"
                ],
                "summary": "Get a gene",
                "operationId": "getGeneUsingGET",
                "parameters": [
                    {
                        "name": "geneId",
                        "in": "path",
                        "description": "Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "entrezGeneId",
                                        "hugoGeneSymbol"
                                    ],
                                    "properties": {
                                        "chromosome": {
                                            "type": "string"
                                        },
                                        "cytoband": {
                                            "type": "string"
                                        },
                                        "entrezGeneId": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "hugoGeneSymbol": {
                                            "type": "string"
                                        },
                                        "length": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "title": "Gene"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/genes/{geneId}/aliases": {
            "get": {
                "tags": [
                    "Genes"
                ],
                "summary": "Get aliases of a gene",
                "operationId": "getAliasesOfGeneUsingGET",
                "parameters": [
                    {
                        "name": "geneId",
                        "in": "path",
                        "description": "Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/molecular-data/fetch": {
            "post": {
                "tags": [
                    "Molecular Data"
                ],
                "summary": "Fetch molecular data",
                "operationId": "fetchMolecularDataInMultipleMolecularProfilesUsingPOST",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "entrezGeneId",
                                            "molecularProfileId",
                                            "patientId",
                                            "sampleId",
                                            "studyId",
                                            "value"
                                        ],
                                        "properties": {
                                            "entrezGeneId": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "gene": {
                                                "type": "object",
                                                "required": [
                                                    "entrezGeneId",
                                                    "hugoGeneSymbol"
                                                ],
                                                "properties": {
                                                    "chromosome": {
                                                        "type": "string"
                                                    },
                                                    "cytoband": {
                                                        "type": "string"
                                                    },
                                                    "entrezGeneId": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "hugoGeneSymbol": {
                                                        "type": "string"
                                                    },
                                                    "length": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "title": "Gene"
                                            },
                                            "molecularProfileId": {
                                                "type": "string"
                                            },
                                            "patientId": {
                                                "type": "string"
                                            },
                                            "sampleId": {
                                                "type": "string"
                                            },
                                            "studyId": {
                                                "type": "string"
                                            },
                                            "uniquePatientKey": {
                                                "type": "string"
                                            },
                                            "uniqueSampleKey": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": "number"
                                            }
                                        },
                                        "title": "NumericGeneMolecularData"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "entrezGeneIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "format": "int32",
                                            "minimum": 1,
                                            "maximum": 10000000
                                        }
                                    },
                                    "molecularProfileIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "sampleMolecularIdentifiers": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "molecularProfileId": {
                                                    "type": "string"
                                                },
                                                "sampleId": {
                                                    "type": "string"
                                                }
                                            },
                                            "title": "SampleMolecularIdentifier"
                                        }
                                    }
                                },
                                "title": "MolecularDataMultipleStudyFilter"
                            }
                        }
                    },
                    "description": "List of Molecular Profile ID and Sample ID pairs or List of MolecularProfile IDs and Entrez Gene IDs",
                    "required": true
                }
            }
        },
        "/molecular-profiles": {
            "get": {
                "tags": [
                    "Molecular Profiles"
                ],
                "summary": "Get all molecular profiles",
                "operationId": "getAllMolecularProfilesUsingGET",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page size of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 1,
                            "maximum": 10000000,
                            "exclusiveMinimum": false,
                            "exclusiveMaximum": false,
                            "default": 10000000
                        }
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page number of the result list",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0,
                            "exclusiveMinimum": false,
                            "default": 0
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Name of the property that the result list is sorted by",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "molecularProfileId",
                                "molecularAlterationType",
                                "datatype",
                                "name",
                                "description",
                                "showProfileInAnalysisTab"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Direction of the sort",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ASC",
                                "DESC"
                            ],
                            "default": "ASC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "molecularProfileId",
                                            "studyId"
                                        ],
                                        "properties": {
                                            "datatype": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "molecularAlterationType": {
                                                "type": "string",
                                                "enum": [
                                                    "MUTATION_EXTENDED",
                                                    "MUTATION_UNCALLED",
                                                    "FUSION",
                                                    "STRUCTURAL_VARIANT",
                                                    "COPY_NUMBER_ALTERATION",
                                                    "MICRO_RNA_EXPRESSION",
                                                    "MRNA_EXPRESSION",
                                                    "MRNA_EXPRESSION_NORMALS",
                                                    "RNA_EXPRESSION",
                                                    "METHYLATION",
                                                    "METHYLATION_BINARY",
                                                    "PHOSPHORYLATION",
                                                    "PROTEIN_LEVEL",
                                                    "PROTEIN_ARRAY_PROTEIN_LEVEL",
                                                    "PROTEIN_ARRAY_PHOSPHORYLATION",
                                                    "GENESET_SCORE"
                                                ]
                                            },
                                            "molecularProfileId": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "showProfileInAnalysisTab": {
                                                "type": "boolean"
                                            },
                                            "study": {
                                                "type": "object",
                                                "required": [
                                                    "studyId"
                                                ],
                                                "properties": {
                                                    "allSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "cancerType": {
                                                        "type": "object",
                                                        "required": [
                                                            "cancerTypeId"
                                                        ],
                                                        "properties": {
                                                            "cancerTypeId": {
                                                                "type": "string"
                                                            },
                                                            "clinicalTrialKeywords": {
                                                                "type": "string"
                                                            },
                                                            "dedicatedColor": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "parent": {
                                                                "type": "string"
                                                            },
                                                            "shortName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "title": "TypeOfCancer"
                                                    },
                                                    "cancerTypeId": {
                                                        "type": "string"
                                                    },
                                                    "citation": {
                                                        "type": "string"
                                                    },
                                                    "cnaSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "completeSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "groups": {
                                                        "type": "string"
                                                    },
                                                    "importDate": {
                                                        "type": "string",
                                                        "example": "yyyy-MM-dd HH:mm:ss"
                                                    },
                                                    "methylationHm27SampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "miRnaSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "mrnaMicroarraySampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "mrnaRnaSeqSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "mrnaRnaSeqV2SampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "pmid": {
                                                        "type": "string"
                                                    },
                                                    "publicStudy": {
                                                        "type": "boolean"
                                                    },
                                                    "rppaSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "sequencedSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "shortName": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "studyId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "title": "CancerStudy"
                                            },
                                            "studyId": {
                                                "type": "string"
                                            }
                                        },
                                        "title": "MolecularProfile"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/molecular-profiles/fetch": {
            "post": {
                "tags": [
                    "Molecular Profiles"
                ],
                "summary": "Fetch molecular profiles",
                "operationId": "fetchMolecularProfilesUsingPOST",
                "parameters": [
                    {
                        "name": "projection",
                        "in": "query",
                        "description": "Level of detail of the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "SUMMARY",
                                "DETAILED",
                                "META"
                            ],
                            "default": "SUMMARY"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "molecularProfileId",
                                            "studyId"
                                        ],
                                        "properties": {
                                            "datatype": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "molecularAlterationType": {
                                                "type": "string",
                                                "enum": [
                                                    "MUTATION_EXTENDED",
                                                    "MUTATION_UNCALLED",
                                                    "FUSION",
                                                    "STRUCTURAL_VARIANT",
                                                    "COPY_NUMBER_ALTERATION",
                                                    "MICRO_RNA_EXPRESSION",
                                                    "MRNA_EXPRESSION",
                                                    "MRNA_EXPRESSION_NORMALS",
                                                    "RNA_EXPRESSION",
                                                    "METHYLATION",
                                                    "METHYLATION_BINARY",
                                                    "PHOSPHORYLATION",
                                                    "PROTEIN_LEVEL",
                                                    "PROTEIN_ARRAY_PROTEIN_LEVEL",
                                                    "PROTEIN_ARRAY_PHOSPHORYLATION",
                                                    "GENESET_SCORE"
                                                ]
                                            },
                                            "molecularProfileId": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "showProfileInAnalysisTab": {
                                                "type": "boolean"
                                            },
                                            "study": {
                                                "type": "object",
                                                "required": [
                                                    "studyId"
                                                ],
                                                "properties": {
                                                    "allSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "cancerType": {
                                                        "type": "object",
                                                        "required": [
                                                            "cancerTypeId"
                                                        ],
                                                        "properties": {
                                                            "cancerTypeId": {
                                                                "type": "string"
                                                            },
                                                            "clinicalTrialKeywords": {
                                                                "type": "string"
                                                            },
                                                            "dedicatedColor": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "parent": {
                                                                "type": "string"
                                                            },
                                                            "shortName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "title": "TypeOfCancer"
                                                    },
                                                    "cancerTypeId": {
                                                        "type": "string"
                                                    },
                                                    "citation": {
                                                        "type": "string"
                                                    },
                                                    "cnaSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "completeSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "groups": {
                                                        "type": "string"
                                                    },
                                                    "importDate": {
                                                        "type": "string",
                                                        "example": "yyyy-MM-dd HH:mm:ss"
                                                    },
                                                    "methylationHm27SampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "miRnaSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "mrnaMicroarraySampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "mrnaRnaSeqSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "mrnaRnaSeqV2SampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "pmid": {
                                                        "type": "string"
                                                    },
                                                    "publicStudy": {
                                                        "type": "boolean"
                                                    },
                                                    "rppaSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "sequencedSampleCount": {
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "shortName": {
                                                        "type": "string"
[...]
